<div class="col-md-12 col-lg-12 col-xs-12">
    <div class="col-md-4">
        <!--espaço-->
    </div>
    <div class="col-md-4">
        <br/>
        <br/>
        <div class="panel panel-default" ng-controller="contentLogin as c">
            <div class="panel-heading"><h3>Autenticação</h3></div>

            <div class="panel-body">
                <div class="form-group">
                    <label>{{c.inputEmail}} <label class="requerido">{{c.required}}</label></label>
                    <input type="text" class="form-control" ng-model="c.novaSenha.data.email"
                           placeholder="Confirme seu E-mail">
                </div>
                <div class="form-group">
                    <label>{{c.inputSenha}} <label class="requerido">{{c.required}}</label></label>
                    <input type="text" class="form-control" ng-model="c.novaSenha.data.senha"
                           placeholder="Digite uma nova senha.">
                </div>
                <a href="#adm-rem" class="btn btn-orange" style="float: left;" ng-click="c.salvarSenha()">{{c.btnSalvar}}</a>

                <blockquote class="blockquote-reverse">
                    <footer><span class="requerido">{{c.required}}</span> {{c.legenda}}</footer>
                </blockquote>
            </div>
            <div class="panel-footer">
               <a href="">{{c.obs}}</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-10 col-xs-12" style="margin-bottom: 65px;"></div>
